<% provide(:title, "Souls") %>

<div class="header2">Мертві душі</div>
<br/>
<div class="souls">
	<% @souls.each do |soul| %>
		<div class="soul grid_3">
		<div style="min-height:150px">
			<%= link_to image_tag(soul.image || "product_blank.png", :alt => "home image")%>
		</div>	
			<div>
				<%= soul.second_name%>
				<%= soul.name%>
				<%= soul.pname%>
			</div>
		</div>	
	<%end%>
</div>	