<% provide(:title, 'Home') %>
<p>
	The other forms are there for compatibility with XHTML; to make it possible to write the same code as XHTML, and have it also work as HTML. Some systems that generate HTML may be based on XML generators, and thus not have the ability to output just a bare br tag; if you're using such a system, it's fine to use br, it's just not necessary if you don't need to do it.
</p>
