/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset
 *= require text
 *= require 960_12_col
 *= require souls.css.scss
 */
 a {
	text-decoration: none;
	color: black;
}

.header
{
	height: 100px;
	margin-top: 30px;
}
.header1{font-size: 40px;}
.header2
{
	font-size: 30px;
	margin-left: 20px;
}
.page
{
	width: 900px;
	margin:0 auto;
}

.content
{
	width: 900px;
	margin-bottom: 150px;
}

.info
{
	margin-top: 20px;
	margin-left: 200px;
	padding-left: 20px;
	width: 700px;
}

.shot_info {padding-left: 10px;}
.full_info {padding-left: 10px;}

.menu
{
	display: block;
	width: 100%;
	background-color: #1E6EFA;
	text-align: center;
}

.menu a:hover {
	display: block;
	background-color: #2FC8FE;}

.category
{
	width: 200px;
	text-align: center;
	float: left;
}

.categ_el{
	width: 200px;
	display: block;
	background-color: #1E6EFA;}
.categ_el a:hover {
	display: block;
	background-color: #2FC8FE;}

.menu td {
	text-align: center; 
	vertical-align: top;
	align: center; 
	width: 150px;


}

.add_to_card{background-color: #2AEF56;}
a.add_to_card:hover   {background-color:red;}

.pages {
	clear: both;
	text-align: center;
}

.footer {
	clear: both;
	text-align: center;
}
