// Place all the styles related to the souls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.souls {
display: inline;   
width: 200px;

  .soul {
    width: 200px;
    height: 250px;
    text-align: center;
    padding-top: 15px;
    
    img {
      max-width: 150px;
      max-height: 150px;
      
    }
    
    a {
      display: block;
    }
    
    
   }

}